// ----------- UI COLOR -------------
$color-grey-100: #141414;
$color-grey-90: #191919;
$color-grey-80: #1e1e1e;
$color-grey-70: #232323;
$color-grey-60: #282828;
$color-grey-50: #2d2d2d;
$color-grey-40: #323232;
$color-grey-30: #373737;
$color-grey-20: #3c3c3c;
$color-grey-10: #414141;
// ----------- TEXT COLOR -------------
$color-text-100: rgba(#ffffff, 1);
$color-text-56: rgba(#ffffff, 0.56);
$color-text-32: rgba(#ffffff, 0.32);
// ----------- COLOR EFFECT -------------
$color-bg-hover: $color-grey-50;
$color-bg-active: $color-grey-40;
// ----------- TEXT SIZE -------------
$text-size-header-1: 32px;
$text-size-header-2: 24px;
$text-size-header-3: 16px;
$text-size-paragraph-1: 14px;
$text-size-paragraph-2: 12px;
// ----------- TEXT WEIGHT -------------
$text-weight-medium: 500;
$text-weight-regular: 400;
// ----------- TEXT GAP -------------
$text-line-height-1: 48px;
$text-line-height-2: 40px;
$text-line-height-3: 24px;
$text-line-height-4: 20px;
$text-line-height-5: 12px;
// ----------- LETTER SPACE -------------
$letter-space-0: 0px;
$letter-space-1: 1%;
